/* Styles for the Home route */
.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.login-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Updated search and filter styles to match page design */
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px auto;
  padding: 10px;
  background-color: #0a1a2a;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 800px;
}

.filters select,
.filters input {
  padding: 5px;
  border: 3px solid #0b2947;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  background-color: #0a1a2a;
}

.filters select:focus,
.filters input:focus {
  outline: none;
  border-color: #0b2947;
  box-shadow: 0 0 5px #003f7f;
}

.filters input {
  flex: 1;
}